<%- include('partials/header') %>

  <button type="button" id="record">Record</button>
  <button type="button" id="stop" disabled>Stop</button>
  <button type="button" id="play" disabled>Play</button>
  <button type="button" id="save" disabled>Save</button>
  <div id="saved-audio-messages">
      <h2>Saved messages</h2>
    </div>
    <script src="../script.js"></script>

<%- include('partials/footer') %> 




<!-- <!- For printing variable these
	tags are used: <%= %> 
<h1> <%= title %> </h1>
	
<!- For business logic these
	tags are used: <% %> 
<% if(true){ %>
	<h4>Greetings from geeksforgeeks</h4>
<% } %> -->